@import url(https://fonts.googleapis.com/css?family=Raleway:300);
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: url(https://i.imgur.com/CZdBKjO.gif) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-color: #342643;
  height: 100%;
}
.text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 9em;
  font-weight: 700;
  color: white;
  position: relative;
}
.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: white;
  position: relative;
}
.buttons {
  margin: 30px;
}
.buttons a.button {
  background-color: #342643;
  font-weight: 700;
  border: 2px solid white;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
}
.buttons a.button:hover {
  background-color: #4d3864;
  color: white;
  transition: all 0.2s ease-in-out;
}
@keyframes noise-anim {
  0% {
    clip: rect(18px, 9999px, 91px, 0);
  }
  5% {
    clip: rect(174px, 9999px, 129px, 0);
  }
  10% {
    clip: rect(110px, 9999px, 75px, 0);
  }
  15% {
    clip: rect(88px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 106px, 0);
  }
  25% {
    clip: rect(190px, 9999px, 194px, 0);
  }
  30% {
    clip: rect(181px, 9999px, 59px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 62px, 0);
  }
  40% {
    clip: rect(110px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(157px, 9999px, 164px, 0);
  }
  50% {
    clip: rect(87px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(115px, 9999px, 88px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 38px, 0);
  }
  65% {
    clip: rect(114px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(193px, 9999px, 189px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 153px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 198px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 124px, 0);
  }
  95% {
    clip: rect(2px, 9999px, 6px, 0);
  }
  100% {
    clip: rect(146px, 9999px, 167px, 0);
  }
}
.subtitle:after, .title:after {
  content: attr(data-content);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(172px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(178px, 9999px, 140px, 0);
  }
  10% {
    clip: rect(61px, 9999px, 122px, 0);
  }
  15% {
    clip: rect(117px, 9999px, 22px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 129px, 0);
  }
  25% {
    clip: rect(123px, 9999px, 34px, 0);
  }
  30% {
    clip: rect(189px, 9999px, 144px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 71px, 0);
  }
  40% {
    clip: rect(138px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(101px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(80px, 9999px, 13px, 0);
  }
  55% {
    clip: rect(132px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 34px, 0);
  }
  65% {
    clip: rect(198px, 9999px, 15px, 0);
  }
  70% {
    clip: rect(173px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(185px, 9999px, 107px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 167px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 83px, 0);
  }
  90% {
    clip: rect(75px, 9999px, 41px, 0);
  }
  95% {
    clip: rect(38px, 9999px, 178px, 0);
  }
  100% {
    clip: rect(108px, 9999px, 180px, 0);
  }
}
.subtitle:before, .title:before {
  content: attr(data-content);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
